::ng-deep {
  .custom-slider .ng5-slider .ng5-slider-bar {
    background: #ffe4d1;
    height: 2px;
  }
  .custom-slider .ng5-slider .ng5-slider-selection {
    background: #ffeb3b;
  }

  .custom-slider .ng5-slider .ng5-slider-pointer {
    width: 16px;
    height: 16px;

    background-color: #333;
  }

  .custom-slider .ng5-slider .ng5-slider-pointer:after {
    display: none;
  }

  .custom-slider .ng5-slider .ng5-slider-bubble {
    bottom: 14px;
  }

  .custom-slider .ng5-slider .ng5-slider-limit {
    font-weight: bold;
    color: #ffeb3b;
  }

  .custom-slider .ng5-slider .ng5-slider-tick {
    width: 1px;
    height: 10px;
    margin-left: 4px;
    border-radius: 0;
    background: #ffe4d1;
    top: -1px;
  }

  .custom-slider .ng5-slider .ng5-slider-tick.ng5-slider-selected {
    background: #ffeb3b;
  }
}
mat-card {
  width: 60%;
}
#submit {
  width: 100%;
  background: #ffeb3b;
}
#viewPosts {
  background: #ffeb3b;
}
h1 {
  color: #ffeb3b;
}
.row {
  height: 140px;
  border: 1px solid #ffeb3b;
  margin: 3px;
  padding: 10px;
}
