<mat-toolbar color="primary" class=".navbar">
  <h1>Add Working hours</h1>
  <div class="spacer"></div>
  <a mat-button routerLink="/viewposts" routerLinkActive="active">Posts</a>

  <a mat-button (click)="logout()">Logout</a>
</mat-toolbar>

<div class="container d-flex justify-content-center">
  <mat-card>
    <mat-card-content>
      <div class="row" *ngFor="let i of boucle">
        <div class="col-3">
          <mat-slide-toggle [(ngModel)]="day[i]">{{
            dayName[i]
          }}</mat-slide-toggle>
        </div>

        <div class="col-3" *ngIf="day[i]">
          <mat-select
            placeholder="select option"
            [(ngModel)]="selectedOption[i]"
          >
            <mat-option value="morning">morning</mat-option>
            <mat-option value="afternoon">afternoon </mat-option>
            <mat-option value="doubleshift">double shift</mat-option>
          </mat-select>
        </div>
        <div class="col-6" *ngIf="selectedOption[i] && day[i]">
          <div
            class="custom-slider"
            *ngIf="
              selectedOption[i] == 'morning' ||
              selectedOption[i] == 'doubleshift'
            "
          >
            <ng5-slider
              [(value)]="value[i]"
              [(highValue)]="highValue[i]"
              [options]="options"
            ></ng5-slider>
          </div>
          <div
            class="custom-slider"
            *ngIf="
              selectedOption[i] == 'afternoon' ||
              selectedOption[i] == 'doubleshift'
            "
          >
            <ng5-slider
              [(value)]="value2[i]"
              [(highValue)]="highValue2[i]"
              [options]="options2"
            ></ng5-slider>
          </div>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="onClick()" id="submit">Submit</button>
    </mat-card-actions>
  </mat-card>
</div>
