<mat-toolbar color="primary" class=".navbar">
  <h1>Add Working hours</h1>
  <div class="spacer"></div>
  <a mat-button routerLink="/addpost" routerLinkActive="active">addPost</a>

  <a mat-button (click)="logout()">Logout</a>
</mat-toolbar>
<div class="row flex-row container">
  <div class="col-6 postCard" *ngFor="let post of posts">
    <mat-card>
      <mat-card-title> working hours</mat-card-title>

      <mat-card-content *ngFor="let day of post.working_hours">
        <strong>{{ day.day }} :</strong>
        <p *ngFor="let hours of day.working_hours">{{ hours }}</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
